.container-fluid
	.row
		.col-xs-12
			h1 This is just a test of the Emergency Fritbot System.
			p Were this an actual emergency, people's heads would probably be on fire.
			a(href="pants") Check your pants!